<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>LoginExample</display-name>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost/mysql_db</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>mysql_user</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserPwd</param-name>
        <param-value>mysql_pwd</param-value>
    </context-param>

    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>com.greensnow25.servlets.Redirect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EX</servlet-name>
        <servlet-class>com.greensnow25.servlets.EX1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EX</servlet-name>
        <url-pattern>/ex</url-pattern>
    </servlet-mapping>
    <!--<welcome-file-list>-->
        <!--<welcome-file>redirect.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

</web-app>