<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.bytecode.use_reflection_optimizer">false</property>-->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/hibernate</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>
        <!--<property name="hbm2ddl.auto">create</property>-->

        <!--<property name="hibernate.jdbc.use_streams_for_binary">true</property>-->

        <mapping class="com.greensnow25.model.Body"/>
        <mapping class="com.greensnow25.model.User"/>
        <mapping class="com.greensnow25.model.Engine"/>
        <mapping class="com.greensnow25.model.Transmission"/>
        <mapping class="com.greensnow25.model.Car"/>
        <!--<mapping class="com.greensnow25.model.Image"/>-->
        <mapping class="com.greensnow25.model.Brand"/>
        <!--<mapping resource="com.greensnow25ow25/moBody.hbm.xml.xml"></mapping>-->
    </session-factory>
</hibernate-configuration>